*{
    margin:0px;
    padding:0;
}


h1{
        background-color: #f3efd5;
        color:sienna;
        font-size:50px;
        line-height: 5;
        margin-top: 100px;
        text-align: center;
        font-family:'Libre Baskerville', serif;
}
.error{
    color:slategrey;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    padding:100px;
    margin:50px;
    background-color: rgb(252, 251, 233);
}

h2{
    
    color:slategrey;
    font-size: 30px;
    text-align: center;
    margin-top:30px;
    font-family:'Dancing Script',cursive;
     
}
h3{
    color:darkred;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
   
    
    
}

/**ENCABEZADO**/
header{ 
    top:0;
    margin-left: 0;
    position: fixed;
    z-index:2; 
    

 /** LOGO DE PAGINA **/
 .logo{
    
    float:left;
    width:100px;
    margin-top:20px;
}
}


/**FORMULARIO DE CONTACTO**/

.form-group{
    background-image: url(Multimedia/nubes.jpg);
    background-size:cover;
    border-radius: 5px;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(194, 186, 186);
    
}
.form-group_leg{ /*BEM*/
    font-size: 20px;
    text-decoration: underline;
    font-family:'Libre Baskerville', serif;
    padding:10px;
}
input{
    margin:5px;
    font-size: 14px;
    margin:10px 0px 10px 0px;
    

}

.selection{
    font-size: 14px;
}

/**FONDO DE PAGINA**/

body{
    background-color: rgb(252, 251, 233);
    background-size: 100%;

}

/**FOOTER,GRID**/

#piePagina{

display:grid; 
grid-template-areas:"pie pie pie pie";
 /*1er fila*/ 
    
grid-template-columns: 20% auto 15%;
grid-template-rows: 70px 1fr 1fr 60px;


}
/*Nombre cada item de grid*/

.piePag{ /*BEM*/
    background: rgba(151, 125, 125,0.7);
    width:100%;
    color:white;
    
    
    
    
}






/**MENU NAVEGACION**/

nav {
    padding:5px;
    margin-top:20px;
    
    
    }
    nav ul{
        background:#e9d8ca;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        border-radius: 5px;
        
     
    }
    nav ul li{
        list-style: none;
        margin:10px;
        text-decoration: none;
        
    }
    nav ul li:hover ul{ 
        display:block;
   
       }
    nav ul li a{
        color:black;
        text-decoration: none; 
        
    }
    nav ul li ul {  
        
        display:none; 
        background:#e9d8ca;
        position:absolute;
        font-size: 13px;
        
    
    }
    .subMenu{
        background:#e9d8ca;
        font-size: 13px;
        padding: 0.5rem 0;
        justify-content: center;
        
       
        
        
        
    }
    .sub-item{
        background:#e9d8ca;
        text-decoration: none;
        justify-content: center; 
        width: 100%;
        padding: 0.5rem 0;
        text-align: inherit;
        white-space: nowrap; 

    }
    
    


/**LISTA DE COMO COMPRAR**/ 

.ComoComprar {
   
    font-family: 'Dancing Script', cursive;
    font-style:italic;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 180px;
    text-align:center;
    
}
.ComoComprar_elementos{ /*BEM*/
    
    text-align:center;
    display:inline-block;
}

.nala_footer{
    width: 50px;

}
.nalatexto_footer{
    display: flex;
    justify-content:left;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 20px;
    margin-right: 100px;
    
   
    
    
}
hr{
    margin:0;
}
@each $icono in facebook, instagram, correo{
    .#{$icono}{
        background-image: url("#{$icono}.jpg") ;
        width: 20px;
        border-radius: 4px;
        margin:20px 20px 0px 20px;
        justify-content: center;
        
        

        
        
    }
}
.logos_footer{
    display: flex;
    justify-content: center;
    align-items:center;
   
    
} 
.derechos a{
    text-decoration: none;
    color: rgb(235, 225, 225);
    font-size: 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-bottom:10px;
    margin-top: 10px;
    
}
.derechos a:hover{
    text-decoration: underline;

}

.derechos_footer{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    margin: 5px;
    
}
.contenedor_footer{
    display:flex;
    align-items: center;
    justify-content: center;
    

    
}

.linea_medio{
    
    margin:0;
    color:transparent;
    width: 100%;
   
}






/**FOTOS DE LA PAGINA**/

.carro { 
    margin-left:20%;
    margin-top:20%;
    width: 90%;
    float:right;
   
}
.fotos_carrousel{
    border-radius: 4px;
}
.fotos_carrousel:hover{ /*animacion en imagenes*/
    transform: scale(1.1) ;
}

.parFotos {
    margin-top: 40%;
    font-family:'Merriweather', serif;
    border-radius: 1.0;
    font-size: 30px;
    padding: 5px;
    color:rgb(128, 50, 76);
    letter-spacing: 5px;
    text-align: center;
    
    
  
    
     .p2{

         font-size: 15px;
         text-align: left;
         margin-top: 20%;
         margin-left: 20%;
         font-family: 'Merriweather', serif;
         
     }
    
}
.botonIndex{
    background-color: rgb(240, 237, 231);
    border-radius: 5px;
    margin-top:5%;
    font-size: 15px;
    
}

.foto{
    width: 50%;
    float:right;

}
.parte2{
    margin-top: 20%;
    font-family:'Merriweather', serif;
    font-size: 20px;
    border-radius: 1.0;
    font-size: 30px;
    padding: 5px;
    color:rgb(128, 50, 76);
    letter-spacing: 5px;
    text-align: right;
    float: right;
    
 .p3{
     
    font-size: 15px;
    float:right;
    margin-top: 10%;
    font-family: 'Merriweather', serif;
    animation-duration: 3s;
    animation-name:slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
}

 

.bordesRedondos:hover{ /*animacion en imagenes*/
    transform: scale(1.1);
}

/**BORDES DE FOTOS**/
.bordesRedondos {
    border-radius: 4px;
    margin:20px;
    width: 70%;
    float:right;
}
.cards{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap; 
}
.card{
    background-color: rgb(252, 251, 233);
        border-radius: 1.5%;
        
     img{
         padding:10px;
         height: 100%; 
         object-fit: cover;
     }
     p{
         font-size: 1em;
         
         color:rgb(0, 0, 0);
         text-decoration:underline;
     }
     
    }
    
    .botoncomprar{
        background-color: white;
        color:black;
        padding:5px;
        border-radius: 3px;
        border: 1px  solid black;
        

    }
    .botoncomprar:hover {
        padding: 4px;
        background-color: rgb(240, 238, 234);
       
    }
.card-body{
    justify-content: center;
    text-align: center;

    a{
        
        color: black;
        text-decoration: none;
        font-size: 13px;
        padding: 5px 15px 5px 15px;
    }
    
.card-title{
    font-size: 1em;
    
    }
.btn{
    background-color: rgb(96, 178, 233);
    }

    
}
/**DIAS DE CAMBIO, TABLA**/

 .tabla { /*BEM*/
border-collapse: collapse;
text-align: center;
display:flex;
justify-content: center;
margin-bottom: 80px;

 .tabla_cambios  { /*BEM*/
    border-collapse: collapse; 
    background-color: #faf2c7;
    border:3px solid rgb(247, 160, 160);
    font-size: 20px;
    margin:40px;
    color:rgb(192, 120, 53)
     
     
 }
.tabla_Elementos { /*BEM*/
    
    border:3px solid rgb(247, 160, 160);
     width: 100px;
     height: 50px;
}
.tabla_Encabezado{ /*BEM*/
    
    border:3px solid rgb(247, 160, 160);
    width: 100px;
    height: 50px;
      
}
 }
@media (min-width:320px)and(max-width:767px){ //*****************MOBILE*********************//
    body{
        margin:0px;
        padding:0;
    }
    .col-2{
    font-size: 0.5rem;
}
.Logo{
    width: 15px;

}

    
h1{
    font-size: 25px;
    margin-bottom: 50px;
}
.parFotos{
    margin-top:70px;
    font-size:1rem;
    letter-spacing: 2px;
    text-align: center;
    p{
        text-align: center;
        margin-left:10%;
       
    }
    .p2{
        
        font-size: 0.7rem;
        text-align:center;
        margin-top:10%;
        margin-left: 10%;

    }
    
}

 .carro{
     margin:0;
 }
 .parte2{
    margin-top:100px;
    font-size:1rem;
    letter-spacing: 2px;
    text-align: center;
   
   
    
     p{
        text-align: center;
        margin-left:10%;
     }
     .p3{
        font-size: 0.7rem;
        text-align:center;
        margin-top:10%;
        margin-left: 10%;

     }
 }
 .botonIndex{
    font-size: 0.8rem;
    margin:40px;
   }
.form-group{
    width: 90%;
    margin:20px;
    font-size: 0.5rem;
    max-width: 500px;
    border: 1px solid rgb(194, 186, 186);

    .form-group_leg{ /*BEM*/
        font-size: 10px;
        margin-left: 5px;
        text-decoration: underline;
    }
    .selection{
     margin-left: 10px;
     margin-top: 5px;
    }
}
.inputForm{
    font-size: 10px;
    display: block;
}
input{
    font-size: 10px;
}
.tabla{
    margin-bottom: 50%;
}

.ComoComprar{
    margin-bottom: 80%;
}

.nala_footer{
    width: 40px;
    

}
@each $icono in facebook, instagram, correo{
    .#{$icono}{
        background-image: url("#{$icono}.jpg") ;
        width: 15px;
        border-radius: 4px;
        margin:20px 10px 0px 10px;
        justify-content: center;
        
        

        
        
    }
}
.nalatexto_footer{
    display: flex;
    justify-content:left;
    align-items: center;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    
   
    
    
}
.linea_medio{
    
    margin:0;
    color:rgb(48, 3, 48);
    width: 100%;
   
}

hr{
    margin:0;
}
.logos_footer{
    display: flex;
    justify-content: center;
    align-items:center;
   
    
} 
.error{
    font-size: 1rem;
    text-align: center;
    font-family:sans-serif;
    margin-bottom: 100%;
   
}
footer{
    position: absolute;
}
.derechos a{
    text-decoration: none;
    color: rgb(235, 225, 225);
    font-size: 0.8rem;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-bottom:10px;
    margin-top: 10px;
    
}
.derechos a:hover{
    text-decoration: underline;

}

.derechos_footer{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    margin: 5px;
    
}
.contenedor_footer{
    display:flex;
    align-items: center;
    justify-content: center;
    

    
}


}
@media (min-width:768px)and(max-width:950){//***********TABLETS************//
    body{
        margin:0px;
        padding:0;
    }
    .col-2{
        font-size: 0.5rem;
    }
    .Logo{
        width: 15px;
    
    }
    h1{
        font-size: 25px;
    }
    .parFotos{

        margin:0;
        font-size:0.8rem;
        text-align: center;
       
        .p2{
            text-align: center;
            font-size: 0.5rem;
            margin: 0;
    
        }
        
    }
     .parte2{
         font-size: 0.8rem;
         .p3{
             font-size: 0.5rem;
    
         }
     }
     .botonIndex{
        font-size: 0.5rem;
       }
    .form-group{
        width: 90%;
        margin:20px;
        font-size: 0.5rem;
        max-width: 500px;
        border: 1px solid rgb(194, 186, 186);
    
        .form-group_leg{ /*BEM*/
            font-size: 10px;
            margin-left: 5px;
            text-decoration: underline;
        }
        .selection{
         margin-left: 10px;
         margin-top: 5px;
        }
    }
    .inputForm{
        font-size: 10px;
        display: block;
    }
    input{
        font-size: 10px;
    }
    .piePag{
        padding:20px;
    }
    footer{
        margin-bottom: 0;
        margin-top: 20%;
    }

    .tabla{
        margin-bottom: 50%;
    }

    .ComoComprar{
        margin-bottom: 80%;
    }
    .nala_footer{
        width: 50px;
        
    
    }
    .nalatexto_footer{
        display: flex;
        justify-content:left;
        align-items: center;
        text-align: center;
        font-size: 0.7rem;
        margin-top: 20px;
        margin-right: 100px;
        
       
        
        
    }
    hr{
        margin:0;
    }
    .logos_footer{
        display: flex;
        justify-content: center;
        align-items:center;
       
        
    } 
    .derechos a{
        text-decoration: none;
        color: rgb(235, 225, 225);
        font-size: 1rem;
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        margin-bottom:10px;
        margin-top: 10px;
        
    }
    .derechos a:hover{
        text-decoration: underline;
    
    }
    
    .derechos_footer{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        font-size: 0.8rem;
        margin: 5px;
        
    }
    .contenedor_footer{
        display:flex;
        align-items: center;
        justify-content: center;
        
    
        
    }
    
    
    }

    @media (min-width: 1400px){ //***************PANTALLAS GRANDES********//
        body{
            margin:0px;
            padding:0;
        }
        .col-2{
            font-size: 0.5rem;
        }
        .Logo{
            width: 15px;
        
        }
        h1{
            font-size: 50px;
           
        }
        .parFotos{
            margin-top:30%;
            font-size:2rem;
            
            .p2{
                font-size: 1.5rem;
        
            }
            
        }
         .parte2{
             font-size: 2rem;
             .p3{
                 font-size: 1.5rem;
        
             }
         }
         .botonIndex{
            font-size: 1.5rem;
           }
        
        
    
        .tabla{
            margin-bottom: 10%;
        }
    
        .ComoComprar{
            margin-bottom: 10%;
        }
        .nala_footer{
            width: 1px;
    
        }
        .nalatexto_footer{
            display: flex;
            justify-content:left;
            align-items: center;
            text-align: center;
            font-size: 0.7rem;
            margin-top: 20px;
            margin-right: 100px;
            
           
            
            
        }
        hr{
            margin:0;
        }
        .logos_footer{
            display: flex;
            justify-content: center;
            align-items:center;
           
            
        } 
        .derechos a{
            text-decoration: none;
            color: rgb(235, 225, 225);
            font-size: 1rem;
            display: flex;
            justify-content:center;
            align-items: center;
            text-align: center;
            margin-bottom:10px;
            margin-top: 10px;
            
        }
        .derechos a:hover{
            text-decoration: underline;
        
        }
        
        .derechos_footer{
            display: flex;
            justify-content:center;
            align-items: center;
            text-align: center;
            font-size: 0.8rem;
            margin: 5px;
            
        }
        .contenedor_footer{
            display:flex;
            align-items: center;
            justify-content: center;
            
        
            
        }
        
        
        }
    


